*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  }
  #menu-lateral{
    background-color: #455A64;
    width: 150px;
    height: 100vh;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 2px 4px 15px;
  }
  #barra-superior{
    background-color: #455A64;
    height: 150px;
  }
  .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #b6cfba;
  }
  #menu{
    width: 150px;
    display: flex;
    height: 150px;
    background-color: rgb(149, 216, 179);
  }

  #imputs{
    border: 1px solid red;
    display: flex;
    height: 80px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10PX;
  }
  .btn{
    border-radius: 30px;
    width: 300px;
    background-color: #487a4a;
    color: #b6cfba;
  }
    input{
      width: 447px;
      height: 60px;
      border-radius: 5px;
      border-color: #455A64;
      background-color: #b6cfba;
      padding: 10px;
    }

    #formulario{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      height: 80vh;
    }