*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#menu-lateral{
    background-color: #455A64;
    width: 10vw;
    height: 100vh;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 2px 4px 15px;
}
#barra-superior{
    background-color: #455A64;
    height: 100px;
}
.titulo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B6CFBA;
}

#boton{
    background-color: #487A4A;
    color: azure;
    border-radius: 30px;
    width: 300px;
}

#menu{
    width: 85%;
    height: 100px;
    background-color: #B6CFBA;
}
#inputs{
    border: 1px solid;
    display: flex;
    height: 80vh;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;

}
input{
 width: 447px;
 height: 60px;
 border-radius: 5px;
 border-color: #455A64;
 background-color: #B6CFBA;
 padding: 10px;
}
select{
    width: 447px;
    height: 60px;
    border-radius: 5px;
    border-color: #455A64;
    background-color: #B6CFBA;
    padding: 10px;
   }
   #main {
    display:flex;
    justify-content: center;
    margin-top: 10px;
   }
 table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
  width: 85%;
  border-bottom: 1px solid #ddd;
  border-style: dotted;
  style="width:100%
 }
 tr {
    border-bottom: 1px solid #ddd;
}
tr:hover
{background-color: #D6EEEE;}