*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.animated-button {
  display: inline-block;
  padding: 10px 50px;
  background-color: green;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  
}

.animated-button:hover {
  background-color: darkgreen;
}

.container{
  display: flex;
  flex-direction: row;
}
.elementos{
  width: 800px;
  height: 100vh;
  background-color:rgba(69, 90, 100, 1) ;
  border: 0px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

.elementos2 {
  width: 80%;
  height: 80vh;
  background-color:rgb(255, 255, 255) ;
  border: 0px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  
}

.ajuste-de-img1{
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;

}

.h2{
  display: flex;
  color: aliceblue;
  font-family: Arial, sans-serif;
  align-items: center;
}

.h22{
  display: flex;
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  align-items: center;

}

.h4{
  display: flex;
  color: aliceblue;
  align-items: center;
}

.h44{
  display: flex;
  color: rgb(0, 0, 0);
  align-items: center;
}

.form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.input{

  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(182, 207, 186, 0.55);
  color: white;
  font-size: 16px;
  border: 0px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.316);
  
  

}
.botao2{
  display: inline-block;
  padding: 10px 30px;
  background-color: #4CAF50;
  color: #ffffff;
  text-decoration: none;
  border-radius: 15px;
  border: 0;
  transition: transform 0.2s, box-shadow 0.2s;
  margin: auto 0;

}
.botao2:hover {
  background-color: darkgreen;
}

